<html>

<head>
    <title>{{title}}</title>
    {{!-- <link rel="stylesheet" href="style.css"> --}}
    <style>
        body {
            background: orange;
            color: red;
        }
    </style>

</head>

<body>
    Deep{{title}}
</body>

</html>